<a href="https://colab.research.google.com/github/redadmiral/python-for-journalists/blob/main/exercises/UebungDatenAnalyse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Übung Datenanalyse Python

1. Lade den Datensatz der Stadt Zürich mit Hundenamen, indem du der read_csv() Funktion die URL https://data.stadt-zuerich.ch/dataset/sid_stapo_hundenamen_od1002/download/KUL100OD1002.csvübergibst. Speichere sie in der Variable dognames.

In [ ]:
import pandas as pd

In [2]:
assert dognames.size == 445739

2. Wie auch im großen Datensatz aus dem Video sind die Hunde in diesem Datensatz über mehrere Jahre geführt. Schlüssele den Datensatz nach Jahren auf, indem du mit der `group_by`-Methode auf die Spalte `StichtagDatJahr` gruppierst.

Benutze noch keine aggregationsfunktion (wie `count` oder `sum`) und speichere das Ergebnis in die Variable `dognames_by_year`.

In [11]:
assert dognames_by_year["GebDatHundJahr"].sum()[2015] == 12640309
assert dognames_by_year.size().sum() == 63677

3. Rufe jetzt die Aggregationsfunktion `count` auf `dognames_by_year` auf.

3.1 Interpretiere das Ergebnis. Welche Informationen kannst du aus der entstandenen Tabelle lesen? Warum sind die Zahlen in jeder Zeile gleich?

4. Wir wollen uns nun ansehen, welcher Hundename in welchem Jahr der beliebteste war. 

4.1 Dafür gruppierst du die Tabelle `dognames` dieses Mal auf zwei Spalten: `StichtagDatJahr` und `HundenameText`. Rufe auf der gruppierten Tabelle direkt die `count`-Methode auf und speichere sie in die Variable `dognames_year_name`.
Was siehst du in der Tabelle?

In [ ]:
assert dognames_year_name.size == 217480
assert type(dognames_year_name.index) == pd.core.indexes.multi.MultiIndex
assert dognames_year_name.index[0][0] == 2015

4.2 Der Übersicht halber benennen wir eine beliebige Spalte in `count` um und löschen die anderen mit der `.drop`-Methode. Übergib die Spaltennamen die du löschen möchtest als Argument an den `columns`-Parameter der `drop`-Methode.

In [40]:
assert dognames_year_name.size == 43496
assert dognames_year_name.columns.size == 1

4.3 Gruppiere die Tabelle erneut, diesesmal auf die `StichtagDatJahr`-Spalte und wende die `nlargest`-Methode auf die Gruppierung an. Setze den `group_keys`-Parameter auf `False`. Lass dir die Top 3 Namen für jedes Jahr ausgeben. Speicher das Ergebnis in der Variable `top_dognames`. 

4.3.1 Welche Funktion würdest du verwenden wenn du die seltensten Namen für jedes Jahr erfahren möchtest?
4.3.2 Was macht der `group_keys`-Parameter?

In [45]:
assert top_dognames[2015][2] == 15

15

5. In der nächste Zelle findest du einen DataFrame mit den (erfundenen) beliebtesten Katzennamen. Außerdem setzen wir den Index von top_dognames zurück. Wie verändert sich die gruppierte Tabelle, wenn der Index zurückgesetzt wird?

In [ ]:
catnames = pd.DataFrame({
    "KatzennameText": ["Felix", "Mauzi", "Klaus", "Felix", "Stupsi", "Mauzi", "Schnurri", "Stupsi", "Mauzi"],
    "StichtagDatJahr": [2015,2015,2015,2016,2016,2016,2017,2017,2017],
    "count": [25, 21, 20, 24, 21, 19, 22, 21, 14]
})

top_dognames = top_dognames.reset_index()

5.1 Benutze die `pd.concat`-Funktion um die beiden DataFrames zu verbinden. Übergib der Funktion die beiden DataFrames als Liste und stelle den `axis`-Parameter auf 1. Speichere die Tabelle in die Variable `cat_dog_names`.

5.1.1 Was steuert der `axis`-Parameter?
5.1.2 Warum passen in der entstandenen Tabelle die Jahreszahlen und die Sortierung der Katzen- und Hundenamen zusammen?

In [85]:
assert cat_dog_names.isna().sum().sum() == 54
assert cat_dog_names.KatzennameText[1] == "Mauzi"
assert cat_dog_names.HundenameText[1] == "Luna"